
div#Block{
    position: absolute;
    width: 960px;
    left: 50%;
    margin: 0px 0px 0px -480px;
}
div#topBlock{
    background-color: #F9F8F6;
    background-image: url(./../../images/logo_image.png); background-repeat: no-repeat;
    min-height: 156px !important;
    width: 960px;
}

div#topLogoBlock{
    background-color: #FFFFFF;
    background-image: url(./../../images/logo_image_left.png); background-repeat: no-repeat;
    min-height: 156px !important;
    height: 156px;
    min-width: 106px !important;
    width: 106px;
    float: left;
    border-right: 2px none #EBE7E0;
    z-index: 0;
}
div#topLogoBlock p{
    font-family: Verdana;
    color: #28231B;
    font-size: 70px;
    display: inline;
    padding: 0 0 0 35px;
    line-height: 78px;
}
div#topNameBlock{
   /*padding: 90px 1px 1px 390px;*/
   padding: 90px 1px 1px 190px;
   z-index: 20;
}
div#topNameBig{
    color: #850000;
}
div#topNameSentence{
    font-family: "Courier New", Courier;
    font-size: 12px;
    color: #EBE7E0;
    padding-left: 2px;
}
div#bottomBlock{
    width: 960px;
    height: 20px;
    margin: 8px 0 0 0;
}
div#ContentBlock{
    border: 1px solid #EBE7E0;
    background-color: #F9F8F6;
    width: 788px;
    min-height: 276px;
    height: auto !important;
    height: 275px;
    float: left;
    /*vedi div#creator valido per moz*/
    margin-bottom:30px !important;
    margin-bottom:0px;

}
div#bottomRightBlock{
    /*border: 1px solid #28384C;*/
    width: 162px;
    height: 230px;
    float: right;
}
div.TitleBand{
    background-color: #EBE7E0;
    width: 100%;
    height: 18px;
    color: #28231B;
    font-size: 11px;
    text-indent: 4px;
    padding-top: 2px;
    text-align: left;
}
/* area del testo*/
div#TextBlock{
    padding: 0 1em 0.5em 1em;
    text-indent: 1em;
    text-align: justify;
}
/* lista box informazioni */

div#infoBlock{
    border: 1px solid #EBE7E0;
    width: 160px;
    margin-bottom: 8px;
}
div#langBlock{
    border: 1px solid #EBE7E0;
    width: 160px;
    /*margin-top: 8px;*/
    /*height: 230px;*/
    margin-bottom: 8px;
}
ul#Info{
    padding-left: 0px;
    margin-left: 0px;
    color: #28231B;
    font-size: 11px;
    list-style-type: none;
}
ul#Info li{
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
}
ul#Info li#InfoCorporateName{
    font-style: normal;
    font-weight: bold;
    padding-left: 4px;
    margin-top: -2px !important;
    margin-top: -8px;
}
ul#Info li#InfoCorporateAddress{
    font-style: normal;
    padding-left: 4px;
}
ul#Info li#InfoCorporateMobile{
    font-style: normal;
    padding-left: 4px;
    padding-top: 2px;
}
ul#Info li#InfoCorporateEmail{
    font-style: normal;
    padding-left: 4px;
    padding-top: 2px;
}
ul#Info li.InfoBand{
    background-color: #F9F8F6;
    width: 100%;
    height: 18px;
    color: #28231B;
    padding-top: 4px;
    margin-top: 4px;
    text-indent: 4px;
    text-align: left;
}
ul#MenuLang{
    list-style-type: none;
    padding: 2px 2px 2px 2px !important;
    margin: 2px 2px 2px 2px;
}
ul#MenuLang li{
    display: inline;
    color: #28231B;
    font-size: 11px;
    padding: 1px 1px 1px 1px !important;
    margin: 1px 1px 1px 1px;
}
span#LocaleLang{
    padding-left: 10px !important;
    margin-left: 10px;
}
div#footer{
    background-color: #EBE7E0;
    /*width: 960px;*/
    height: 18px;
    margin: 8px 0 0 0;
    padding-top: 2px;
    text-align: left;
    clear: both;
    color: #28231B;
    font-size: 11px;
    /*vedi div#creator valido per IE6*/
    margin-top:0px !important;
    margin-top:10px;
    text-align: left;
    padding-top: 2px;
    text-indent: 4px;
}

div#websiteVersionInfo{
    width: 100%;
    height: 18px;
    clear: both;
    color: #28231B;
    background-color: #F9F8F6;
    font-size: 11px;
    text-align: center;
    padding-top: 2px;
}

div#creator{
    width: 100%;
    height: 18px;
    clear: both;
    color: #28231B;
    background-color: #F9F8F6;
    font-size: 11px;
    text-align: center;
    padding-top: 2px;
    margin-top: 10px;
}

div#rss_link{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 8pt;
    background-color: black;
    color: red;
    font-family: Verdana;
}
