img{
	padding: 4px 4px 4px 4px;
	margin: 4px 4px 4px 4px;
}

img.lang_image{
	padding: 0px 2px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 1px none black;
}

img.LEFT{
    float: left;
}

img.RIGHT{
    float: right;
}
