
/* link di email*/
ul#Info li#InfoCorporateEmail a:link{
	color: #28231B;
	text-decoration : none;
}
ul#Info li#InfoCorporateEmail a:visited{
	color: #28231B;
	text-decoration : none;
}
ul#Info li#InfoCorporateEmail a:hover{
	color: #28231B;
	text-decoration : underline;
}
ul#Info li#InfoCorporateEmail a:active{
	color: #28231B;
	text-decoration : none;
}

/* link di menu principale*/

ul#MenuMain li a:link{
	color: #28231B;
	text-decoration : none;
}
ul#MenuMain li a:visited{
	color: #28231B;
	text-decoration : none;
}
ul#MenuMain li a:hover{
	color: #28231B;
	text-decoration : underline;
}
ul#MenuMain li a:active{
	color: #28231B;
	text-decoration : none;
}

/* link di menu lingue*/

ul#MenuLang li a:link{
	color: #28231B;
	text-decoration : none;
}
ul#MenuLang li a:visited{
	color: #28231B;
	text-decoration : none;
}
ul#MenuLang li a:hover{
	background-color: #F9F8F6;
	color: #28231B;
	text-decoration : underline;
}
ul#MenuLang li a:active{
	color: #28231B;
	text-decoration : none;
}

/* link di menu div#creator*/

div#creator a:link{
	color: #28231B;
	text-decoration : none;
}
div#creator a:visited{
	color: #28231B;
	text-decoration : none;
}
div#creator a:hover{
	color: #28231B;
	text-decoration : underline;
}
div#creator a:active{
	color: #28231B;
	text-decoration : none;
}

/* rss link*/
div#rss_link a:link{
	color: red;
	text-decoration: underline;
}
div#rss_link a:visited{
	color: red;
	text-decoration: none;
}
div#rss_link a:hover{
	color: green;
	text-decoration: underline;
}
div#rss_link a:active{
	color: red;
	text-decoration: none;
}

/* link*/
a:link{
	color: #28231B;
	text-decoration: underline;
}
a:visited{
	color: #28231B;
	text-decoration: none;
}
a:hover{
	color: #28231B;
	text-decoration: underline;
}
a:active{
	color: #28231B;
	text-decoration: none;
}
