
body{
	margin: 0 0 0 0;
	padding: 0;
	font-size: 11px;
	font-family: Verdana, Arial;
	color: #28231B;
	text-align: justify;
	background-color: #F9F8F6;
	line-height: 1.5em !important;
	line-height: 1.35em;
}

p{
	margin-top: 1em;
	margin-bottom: 1em;
}

h6{
	display: inline;
	font-size: 11px;
}
h5{
	display: inline;
	font-size: 14px;
}
h4{
	display: inline;
	font-size: 16px;
}
h3{
	display: inline;
	font-size: 24px;
}
h2{
	display: inline;
	font-size: 36px;
}
h1{
	display: inline;
	font-size: 36px;
}

strong{
	font-weight: bold;
}

small{
	font-size: 80%;
}

big{
	font-size: 120%;
}

code{
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 12px;
}

b{
	font-weight: bold;
}

ul{
	list-style-position: outside;
	list-style-type: circle;
}

hr{
	border: 1px solid #28231B;
}
